/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}
img {
	max-width:100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */

body{
	font-family: 'Work Sans', sans-serif;

}

/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
	max-width: 960px;
	margin: 0 auto;
}

.site-header {

}
.site-content {

}
.site-footer {

}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/


.site-header{
	background-color: white;
	border-bottom: solid 1px gray;
	padding: 1em;
	max-width: 960px;
	margin:auto;
	text-align: center;	

}

div.scroll-images{
	height:350px;
	margin:auto;
}



li {
	display: inline;
	padding: 45px;
	padding-left: 0px;
	
}

	

.menu-bar{
	height:50px;
	text-align:center;


}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

